h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
  color: #BA3925;
}

body {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 30px;
}

main {
  width: 696px;
  margin: 0 auto;
}

img {
  width: 100%;
}

header p {
  font-size: 14px;
  margin-left: 64px;
}

#author {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #2455C3;
}

blockquote {
  padding-left: 12px;
  margin-left: 0;
  font-style: italic;
  border-left: 1px dotted #bfbfbf;
}

figcaption {
  font: italic 14px/24px Georgia, serif;
  text-align: center;
}
