body {

  text-align: center;
}

.first img {
  width: 100%;
  min-width: 500px;
  max-width: 800px;
  height: 533px;
}

.new_one, .new_two {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  display: inline-block;
}

.new_one {
  background: #fcc;
}

.new_two {
  padding: 20px;
  margin-left: 20px;
  background: #ccf;
  border: 2px solid #000;
}

ul {
  padding: 0;
  list-style: none;
  background: #a7ceff;
}

li {
  display: inline-block
  margin: -10px 1%;;
  min-height: 120px;
  line-height: 120px;
  text-align: center;
  background: #ffffcc;
}

table {
  width: 100%;
  background: #a7ceff;
  border-spacing: 0;
}
td {
  width: 25%;
  text-align: center;
  background: #ffffcc;
  margin: 10px;
}
